
<!-- Including header script, a great way to decouple HTML content -->
<%- include('header.ejs'); -%>

<body>
    <%- include('navbar.ejs'); -%>


    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                    <h1 class="">WELCOME<span>/</span>EMS</h1>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <p class="lead">Welcome to my landing page. This website is built using Node.js. Along with 
                    using Node, page elements like footer, header, and navbar are split up
                    into different views.
                </p>
            </div>
        </div>
        </div>
    </section>
    <div role="main" class = "container">
        <br><br>
        <h2><%= message %></h2>
        <form method = "post" action="/process"></form>
        <div class = "form-group">
            <div class="form-group">
                <label for="txtName">Name:</label>
                <input type="text" class="form-control" id="txtName" name="txtName" />
            </div>
            <div class="form-group">
                <!-- CSRF token -->
                <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
                <button type="submit" class="btn btn-secondary float-right">Submit</button>
            </div>
        </form>
    </div>

    <%- include('footer.ejs'); -%>

</body>
